html {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 20px;
    line-height: 34px;

}
#wrapper {
    width: 1208px;
    margin-left: auto;
    margin-right: auto;
}
footer {
    text-align: center;
}
h1 {
    font-size: 200%;
}
h2 {
    font-size: 180%;
}
h3 {
    font-size: 160%;
}
menu {
    padding: 0px;
    margin: 0px;
}
#top li {
    display: inline;
}
#content {
    width: 692px;
    padding-left: 27px;
    padding-right: 27px;
    float: left;
}
#mainMenu {
    width: 692px;
    padding-left: 27px;
    padding-right: 27px;
    float: left;
    text-align: right;
}
#mainMenu a {
    font-size: 160%;

}
#mainMenu li {
    padding-right: 20px;

}
#sidebar a {
    font-size: 140%;
}

#sidebar {
    width: 420px;
    padding-left: 21px;
    padding-right: 21px;
    float: left;
}
#mainArea {
    clear: both;
}
#logo {
    width: 420px;
    padding-left: 21px;
    padding-right: 21px;
    float: left;
    height: 160px;
}

#top {
    height: 160px;
    line-height: 160px;
}
#logo img {
    height: 160px;
    width: 160px;
}
footer {
    clear: left;
}
li.lastItem {
    padding-right: 0px;
    margin-right: 0px;
}